body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(62, 228, 228);
}

.container {
    position: relative;
    border: black solid 3px;
    width: 80%;
    min-height: 50px;
    text-align: center;
    margin: 0 auto;
}

.encabezado {
    position: relative;
    display: block;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: white;
    background-color: teal;
    bottom: 45px;
}

.body {
    position: relative;
    bottom: 50px;
}

.calendario {
    position: relative;
    bottom: 50px;
}